.content {
  width: 100vw;
  height: 100vh;
  background: #212121;
  display: flex;
  justify-content: center;
  align-items: center;

  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #2A79FF!important;
  }

}
