<div id="test" class="h-full flex flex-col">
  <h1 class="text-center">Create your playlist</h1>
  <div>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Playlist name</mat-label>
      <input matInput [(ngModel)]="data.playlistName" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="data.description"></textarea>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="data.isPublic">Set to public playlist?</mat-checkbox>
  </div>
  <div mat-dialog-actions class="justify-end">
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
  </div>
</div>
