<div class="container-out">
  <div class="inner">
    <h1 class="cover-heading"><span class="font-color-spotify">Spoti</span><span class="font-color-youtube">Tube</span></h1>
        <p class="lead">
          Łatwo organizuj, przeglądaj i twórz listy odtwarzania Spotify i Youtube!
        </p>
        <p>
          SpotiTube łączy utwory z wybranych list odtwarzania w jeden widok, umożliwiając bezproblemowe dodawanie i usuwanie utworów z kilku list odtwarzania.
        </p>
        <p data-ng-if="!vm.isMobile">
          Dodatkowo możesz przenosić utwory między tymi dwoma usługami!
        </p>
        <p data-ng-if="!vm.isMobile">
          Zaloguj się do Spotify, aby wypróbować!
        </p>
    <div class="button-wrapper">
      <button class="connect-spotify" [@buttonSize]="isHover ? 'true' : 'false'"
              mat-ripple
              (mouseover)="onMouseOver()"
              (mouseleave)="onMouseLeave()"
              (click)="spotifyAuth()">Połącz z Spotify
      </button>
    </div>
  </div>
</div>
