label {
  position: relative;
}
label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url('/assets/images/searchIcon.svg') center / contain no-repeat;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}
::-moz-placeholder {
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}
.input-element {
  @apply w-full pr-6 pl-8 py-2 border rounded-lg text-gray-700 focus:outline-none
}
.text-block-element {
  @apply block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white
}
.nav-style-element {
  @apply flex items-center py-4 px-6 bg-white border-b-4;
}
