<header class="flex items-center py-4 px-6 bg-white border-b-4 border-indigo-600">
  <div class="flex items-center">
      <div class="relative mx-4 lg:mx-0">
          <form>
            <div class="flex items-center">
              <ng-template [ngIf]="isSearchYoutube == false">
                <input type='text' placeholder="Search for tracks - spotify" class="w-full pr-10 pl-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-green-500" (keyup.enter)="onSearchForPhrase()" [(ngModel)]="phraseValue" name="phraseValue">
                <svg class="w-6 h-6 fill-current text-gray-500 -ml-8 z-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" (click)="onSearchForPhrase()">
                  <path d="M0 0h24v24H0V0z" fill="none"/>
                  <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                </svg>
              </ng-template>
              <ng-template [ngIf]="isSearchYoutube == true">
                <input type='text' placeholder="Search for tracks - youtube" class="w-full pr-10 pl-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-green-500" (keyup.enter)="onSearchForPhraseYoutube()" [(ngModel)]="phraseValue" name="phraseValue">
                <svg class="w-6 h-6 fill-current text-gray-500 -ml-8 z-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" (click)="onSearchForPhraseYoutube()">
                  <path d="M0 0h24v24H0V0z" fill="none"/>
                  <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                </svg>
              </ng-template>
              <ng-template [ngIf]="isLoggedToYoutube === true">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" viewBox="0 0 20 20" fill="black" (click)="onSwitchSearch()">
                  <path d="M8 5a1 1 0 100 2h5.586l-1.293 1.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L13.586 5H8zM12 15a1 1 0 100-2H6.414l1.293-1.293a1 1 0 10-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L6.414 15H12z" />
                </svg>
              </ng-template>
            </div>
          </form>
      </div>
  </div>

  <button (click)="onShowProfile()" class="ml-auto h-8 w-8 rounded-full overflow-hidden shadow focus:outline-none">
      <img class="h-full w-full object-cover" src={{pictureUrl}} alt="Avatar">
  </button>
  <ng-template *ngIf="onGetShowProfile() === false; else elseBlock1">
    <div class="fixed inset-0 h-full w-full z-10"></div>
  </ng-template>
  <ng-template #elseBlock1>
    <div class="absolute right-0 mt-28 w-48 bg-white rounded-md overflow-hidden shadow-xl">
      <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white" (click)="onLogout()">Logout from all</a>
      <ng-template [ngIf]="isLoggedToYoutube === false">
        <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white" (click)="onLoginToYoutube()">Login to youtube</a>
      </ng-template>
      <ng-template [ngIf]="isLoggedToYoutube === true">
        <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white" (click)="onLogoutFromYoutube()">Logout from youtube</a>
      </ng-template>
    </div>
  </ng-template>
</header>
