<nav class="bg-purple-900 h-screen px-4 tex-gray-900 border-purple-900 overflow-auto">
  <div class="flex mt-8 items-center justify-center">
    <div class="">
      <img src="https://yt3.ggpht.com/ytc/AKedOLSHlPbMDpOLk7tpBOaS741aboFID7Zp7x53VktHJw=s900-c-k-c0x00ffffff-no-rj" class="mx-auto w-20 h-20 rounded-full"/>
    </div>
    <div class="">
      <span class="font-semibold text-white text-xl ml-2">SpotiTube</span>
    </div>
  </div>
  <div class="float-right">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon-banner" viewBox="0 0 20 20" (click)="onCreatePlaylist()">
      <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
    </svg>
    <ng-template [ngIf]="this.sortService.sortingTypePlaylist === 'dsc'" [ngIfElse]="elseSort">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon-banner" viewBox="0 0 20 20" (click)="onChangeSorting('asc')">
        <path d="M3 3a1 1 0 000 2h11a1 1 0 100-2H3zM3 7a1 1 0 000 2h7a1 1 0 100-2H3zM3 11a1 1 0 100 2h4a1 1 0 100-2H3zM15 8a1 1 0 10-2 0v5.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L15 13.586V8z" />
      </svg>
    </ng-template>
    <ng-template #elseSort>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon-banner" viewBox="0 0 20 20" (click)="onChangeSorting('dsc')">
        <path d="M3 3a1 1 0 000 2h11a1 1 0 100-2H3zM3 7a1 1 0 000 2h5a1 1 0 000-2H3zM3 11a1 1 0 100 2h4a1 1 0 100-2H3zM13 16a1 1 0 102 0v-5.586l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 101.414 1.414L13 10.414V16z" />
      </svg>
    </ng-template>
  </div>
  <div class="mt-8">
    <ul id="playlistsHtml">
      <ng-template [ngIf]="isLoggedToYoutube === true" [ngIfElse]="elseIsLogged">
        <div class="left-content">
          <li #playlistHtmlLi class="playlist-li font-color-spotify" *ngFor="let item of playlistInfo">
            <div class="list-element hover-btn" (click)="onShowMusic($event, item)">{{item.name}}</div>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-btn" viewBox="0 0 20 20" (click)="onDeletePlaylist(item)">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-btn" viewBox="0 0 20 20" (click)="onEditPlaylist(item)">
              <path fill-rule="evenodd" d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
            </svg>
          </li>
        </div>
        <div class="right-content">
          <li #playlistHtmlLiYoutube class="playlist-li font-color-youtube" *ngFor="let item of playlistInfoYoutube">
            <div class="list-element hover-btn" (click)="onShowMusicYoutube($event, item)">{{item.name}}</div>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-btn" viewBox="0 0 20 20" (click)="onDeletePlaylist(item)">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-btn" viewBox="0 0 20 20" (click)="onEditPlaylist(item)">
              <path fill-rule="evenodd" d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
            </svg>
          </li>
        </div>
      </ng-template>
      <ng-template #elseIsLogged>
        <li #playlistHtmlLi class="playlist-li font-color-spotify" *ngFor="let item of playlistInfo">
          <div class="list-element hover-btn font-color-spotify" (click)="onShowMusic($event, item)">{{item.name}}</div>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-btn" viewBox="0 0 20 20" (click)="onDeletePlaylist(item)">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-btn" viewBox="0 0 20 20" (click)="onEditPlaylist(item)">
            <path fill-rule="evenodd" d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
          </svg>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
