@import "src/colors";
.flex-container {
  display: flex;
  flex-direction: row;
}
.left-content {
  width: 50%;
  float: left;
}
.right-content {
  width: 50%;
}
.text-shadow {
  text-shadow: 0px 0px 1px black;
}
.icon {
  fill: white;
}
.icon:hover {
  fill: black;
}
.icon-btn {
  @apply h-4 w-4 icon flex-none
}
.icon-banner {
  @apply h-5 w-5 ml-auto inline-block icon
}
.list-element {
  @apply px-4 py-4 rounded rounded-lg flex-grow
}
.hover-btn {
  @apply bg-transparent
}
.hover-btn:hover {
  @apply text-black bg-gray-300 text-shadow
}
.clicked-btn {
  @apply bg-gray-50
}
.playlist-li {
  @apply flex justify-between items-center
}
.nav-bar-element {
  display: none;
}
@media (min-width: 890px) {
  .nav-bar-element {
    display: block;
  }
}
