<!-- <div :class="sidebarOpen ? 'block' : 'hidden'" @click="sidebarOpen = false" class="fixed z-20 inset-0 bg-black opacity-50 transition-opacity lg:hidden"></div> -->
<nav class="flex flex-col bg-purple-900 h-screen px-4 tex-gray-900 border-purple-900">
  <!-- <div class="flex flex-wrap mt-8">
    <div class="w-1/2">
      <img
        src="https://randomuser.me/api/portraits/women/27.jpg"
        class="mx-auto w-20 h-20 rounded-full"
      />
    </div>
    <div class="w-1/2">
      <span class="font-semibold text-white">SpotifyLogge</span>
      <button class="bg-green-500 text-white px-4 py-2 rounded-md border border-blue-500 hover:bg-white hover:text-green-500" (click)="logout()">Logout</button>
    </div>
  </div> -->
  <div class="mt-10 mb-4">
    <ul>
      <li class="mb-2 px-4 py-4 rounded rounded-lg hover-btn" *ngFor="let item of playlistInfo" (click) = "onShowMusic($event, item)">
        <span>{{item.name}}</span>
      </li>
    </ul>
  </div>
</nav>
