.spotify-bg {
  background-color: rgb(30, 215, 96);
}
.youtube-bg {
  background-color: rgb(255, 102, 102);
}
.spotify-youtube-bg {
  background-color: rgb(132,164,99);
}
::ng-deep .mat-paginator {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.icon {
  fill: rgb(107 114 128);
}
.icon:hover {
  fill: black;
}

.text:hover {
  color: black;
}


