::ng-deep .mat-paginator {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.text:hover {
  color: black;
}
.icon-tr {
  fill: #6b7280;
}
.icon-tr:hover {
  fill: black;
}
.tr-style-bg-default {
  @apply bg-gray-50
}
.icon-tr-element {
  @apply h-3 w-3 inline-block
}
.td-element {
  @apply px-6 py-4
}
.td-text {
  @apply text-sm leading-5 text-gray-900
}
.border-gray {
  @apply border-b border-gray-200
}
.tr-style {
  @apply px-6 py-3 border-gray-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider
}

mat-paginator {
  background-color: transparent;
}
::ng-deep .mat-paginator .mat-icon-button {
  position: inherit;
}
::ng-deep .mat-paginator .mat-icon-button .mat-button-ripple.mat-ripple {
  position: inherit;
}
mat-form-field {
  width: 8rem;
}
