/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "/src/colors.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "tailwindcss/base";
@import "tailwindcss/components";
  .font-color-spotify {
    color: $spotify;
  }
  .font-color-youtube {
    color: $youtube;
  }
  .font-color-default {
    color: $default;
  }
@import "tailwindcss/utilities";
.menu {
  display: block;
}
@media (min-width: 890px) {
  .menu {
    display: none;
  }
}
